#sidebar {
	overflow: hidden;
	position: absolute;
	background: #232323;
	bottom: 0;
	top: 0;
	left: 0;
	width: 270px;
}
#main {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 270px;
	right: 20px;
}
#TaskProperties {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 300px;
	background: red;
}
#main input {
	margin: 10px;
	padding: 8px 20px;
	border-radius: 4px;
	border: 1px solid #ECF0F1;
	width: 100%;
	font-size: 16px;
}