<script type="text/ng-template" id="addList.html">
	<div class="modal-header">
		<h3 class="modal-title">Создать новый список</h3>
	</div>
	<div class="modal-body">
		<input type="text" placeholder="Название" ng-model="newListName" class="newListName" ng-keyup="$event.keyCode == 13 && newListName && save()" autofocus></input>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="save()" ng-disabled="!newListName">Сохранить</button>
		<button class="btn btn-danger" ng-click="cancel()">Отмена</button>
	</div>
</script>

<script type="text/ng-template" id="renameList.html">
	<div class="modal-header">
		<h3 class="modal-title">Переименовать</h3>
	</div>
	<div class="modal-body">
		<input type="text" placeholder="Название" ng-model="newListName" class="newListName" autofocus></input>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="save()" ng-disabled="!newListName">Сохранить</button>
		<button class="btn btn-danger" ng-click="cancel()">Отмена</button>
	</div>
</script>

<script type="text/ng-template" id="removeList.html">
	<div class="modal-body">
		<h4 class="modal-title">{{listName}} будет удалён навсегда</h4>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" ng-click="save()">Удалить список</button>
		<button class="btn btn-primary" ng-click="cancel()">Отмена</button>
	</div>
</script>

<script type="text/ng-template" id="addListMembers.html">
	<div class="modal-header">
		<h3 class="modal-title">Добавить участников</h3>
	</div>
	<div class="modal-body">
		<ul>
			<li ng-repeat="member in listMembers">{{member}}</li>
		</ul>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="save()" ng-disabled="!newListName">Сохранить</button>
		<button class="btn btn-danger" ng-click="cancel()">Отмена</button>
	</div>
</script>

<div id="app">

	<div id="sidebar">
		<div class="userInfo">
			<div class="btn-group" dropdown is-open="status.isopen">
				<button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
					{{user.firstName}} {{user.lastName}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li>Action</li>
					<li>Another action</li>
					<li>Something else here</li>
					<li class="divider"></li>
					<li ng-click="endSession()">Выйти</li>
				</ul>
			</div>
		</div>
		<ul class="lists">
			<li class="clearfix" ng-repeat="list in lists" ng-click="$parent.changeActiveList($index)" context-menu="$parent.menuOptions($index)" ng-class="{ 'active' : $parent.addActiveClass($index)}">
				<span class="glyphicon glyphicon-file"></span>
				<span class="listName" popover="I appeared on mouse enter!" popover-trigger="mouseenter" popover-placement="right">{{list.listName}}</span>
				<span ng-show="calcNumberOfActiveTasks(list)" class="numberOfTasks">{{calcNumberOfActiveTasks(list)}}</span>
			</li>
		</ul>

		<button class="btn btn-default add-list" ng-click="addList()">+</button>
	</div>

	<main id="main" ng-click="currentTaskNumber=null">
		<div>
			<div>
				<input class="addTask" type="text" placeholder="Добавьте задачу" ng-model="newTaskName" ng-keyup="$event.keyCode == 13 && addTask()"></input>
			</div>
			<ul class="tasks">
				<li class="clearfix" ng-repeat="task in lists[currentListNumber].tasks" ng-dblclick="$parent.currentTaskNumber=$index" ng-show="!task.complited">
					<span class="icon-radio-unchecked" ng-click="$parent.changeTaskStatus($index)"></span>
					<div>{{task.taskName}}</div>
				</li>
			</ul>
			<div class="showComplitedTasksButton" ng-click="showComplitedTasks=!showComplitedTasks" ng-show="calcNumberOfActiveTasks(lists[currentListNumber])!=lists[currentListNumber].tasks.length">Показать завершённые задачи</div>
			<ul class="tasks complitedTasks" ng-show="showComplitedTasks">
				<li class="clearfix" ng-repeat="task in lists[currentListNumber].tasks" ng-dblclick="$parent.currentTaskNumber=$index" ng-show="task.complited">
					<span class="icon-circle-check" ng-click="$parent.changeTaskStatus($index)"></span>
					<div>{{task.taskName}}</div>
				</li>
			</ul>
		</div>
	</main>

	<ul id="TaskProperties" ng-show="currentTaskNumber!==null">
		<li ng-repeat="task in lists[currentListNumber].tasks" ng-show="$parent.showTaskConfiguration($index)">
			{{task.taskName}}
		</li>
	</ul>

</div>