<nav class="navbar navbar-inverse navbar-fixed-top" resizable>
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" ng-class="{ 'collapsed' : !showNavbar }" ng-click="showNavbar=!showNavbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="home">MagicList</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse" ng-class="{ 'in' : showNavbar }">

			<form class="navbar-form navbar-right" name="authForm" ng-submit="submitForm()" novalidate>
				<div class="form-group" ng-class="{ 'has-error' : emailIsEmpty || userIsNotExist}">
					<input placeholder="Email" type="email" name="email" ng-model="user.email" required autocomplete="on" class="form-control" ng-blur="emailIsEmpty=authForm.email.$error.required" ng-change="emailIsEmpty=authForm.email.$error.required; userIsNotExist=false">
					<div class="popoverLogin" ng-show="emailIsEmpty && !showNavbar">
						<div class="popover bottom">
							<div class="arrow"></div>
							<div class="popover-inner">
								<div class="popover-content help-block">Введите Email</div>
							</div>
						</div>
					</div>
					<p ng-show="emailIsEmpty && showNavbar" class="help-block">Введите Email</p>
				</div>

				<div class="form-group" ng-class="{ 'has-error' : passwordIsEmpty || userIsNotExist}">
					<input popover="On the Bottom!" popover-placement="bottom" popover-trigger="focus"placeholder="Пароль" type="password" name="password" ng-model="user.password" required class="form-control" ng-blur="passwordIsEmpty=authForm.password.$error.required" ng-change="passwordIsEmpty=authForm.password.$error.required; userIsNotExist=false">
					<div class="popoverLogin" ng-show="passwordIsEmpty && !showNavbar">
						<div class="popover bottom">
							<div class="arrow"></div>
							<div class="popover-inner">
								<div class="popover-content help-block">Введите пароль</div>
							</div>
						</div>
					</div>
					<p ng-show="passwordIsEmpty && showNavbar" class="help-block">Введите пароль.</p>
					<div class="popoverLogin" ng-show="userIsNotExist && !showNavbar">
						<div class="popover bottom">
							<div class="arrow"></div>
							<div class="popover-inner">
								<div class="popover-content help-block">Неверный Email или пароль</div>
							</div>
						</div>
					</div>
					<p ng-show="userIsNotExist && showNavbar" class="help-block">Неверный Email или пароль.</p>
				</div>

				<button type="submit" class="btn btn-success" ng-disabled="authForm.$invalid">Войти</button>
			</form>

		</div>
	</div>
</nav>


<div class="jumbotron">
	<div class="container">
		<h1>Синхронизируйте свою жизнь</h1>
		<p>Нам нравятся списки. Это могут быть мысли, задачи, или места, где стоит побывать. Если вы делитесь списком, то он влияет на мир вокруг вас. Это и есть MagicList.</p>
		<p><a class="btn btn-primary btn-lg" ui-sref="signup" role="button">Зарегистрироваться &raquo;</a></p>
	</div>
</div>

<div class="container">
	<div class="row main">
		<div class="col-md-4">
			<h3>Делитесь своими материалами, достигайте большего в сотрудничестве с другими</h3>
			<p>Вы можете делиться списком покупок в магазине с любимым человеком, работать над проектом, планировать отпуск, - MagicList упрощает любое сотрудничество. </p>
		</div>
		<div class="col-md-4">
			<h3>Синхронизация в реальном времени</h3>
			<p>Вы можете обновлять список покупок в магазине, работать над проектом вместе с коллегами по офису, — система синхронизации MagicList мгновенно обновит все ваши списки независимо от того, где вы находитесь. </p>
		</div>
		<div class="col-md-4">
			<h3>Достигайте цели</h3>
			<p>Независимо от того, что Вы собираетесь делать - поделиться списком покупок с любимым человеком или поработать над проектом - с помощью MagicList любое дело станет простым и приятным. </p>
		</div>
	</div>

	<hr>

	<footer>
		<p>&copy; Maxim Tolochko 2015</p>
	</footer>
</div>