<nav class="navbar navbar-inverse navbar-fixed-top" resizable>
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" ng-class="{ 'collapsed' : !showNavbar }" ng-click="showNavbar=!showNavbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="home">MagicList</a>
			<div class="changeLanguage">
				<div class="btn-group" dropdown is-open="status.isopen">
					<button type="button" dropdown-toggle ng-disabled="disabled" class="glyphicon glyphicon-globe"></button>
					<ul class="dropdown-menu" role="menu">
						<li ng-click="changeLanguage('en')">English</li>
						<li class="divider"></li>
						<li ng-click="changeLanguage('ru')">Русский</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="navbar" class="navbar-collapse collapse" ng-class="{ 'in' : showNavbar }">

			<form class="navbar-form navbar-right" name="authForm" ng-submit="submitForm()" novalidate>
				<div class="form-group" ng-class="{ 'has-error' : emailIsEmpty || userIsNotExist}">
					<input placeholder="Email" type="email" name="email" ng-model="user.email" required autocomplete="on" class="form-control" ng-blur="emailIsEmpty=authForm.email.$error.required" ng-change="emailIsEmpty=authForm.email.$error.required; userIsNotExist=false">
					<div class="popoverLogin" ng-show="emailIsEmpty && !showNavbar">
						<div class="popover bottom">
							<div class="arrow"></div>
							<div class="popover-inner">
								<div class="popover-content help-block" translate>home.authForm.emailErr</div>
							</div>
						</div>
					</div>
					<p ng-show="emailIsEmpty && showNavbar" class="help-block" translate>home.authForm.emailErr</p>
				</div>

				<div class="form-group" ng-class="{ 'has-error' : passwordIsEmpty || userIsNotExist}">
					<input popover="On the Bottom!" popover-placement="bottom" popover-trigger="focus"placeholder="{{'home.authForm.password' | translate}}" type="password" name="password" ng-model="user.password" required class="form-control" ng-blur="passwordIsEmpty=authForm.password.$error.required" ng-change="passwordIsEmpty=authForm.password.$error.required; userIsNotExist=false">
					<div class="popoverLogin" ng-show="passwordIsEmpty && !showNavbar">
						<div class="popover bottom">
							<div class="arrow"></div>
							<div class="popover-inner">
								<div class="popover-content help-block" translate>home.authForm.passErr</div>
							</div>
						</div>
					</div>
					<p ng-show="passwordIsEmpty && showNavbar" class="help-block" translate>home.authForm.passErr</p>
					<div class="popoverLogin" ng-show="userIsNotExist && !showNavbar">
						<div class="popover bottom">
							<div class="arrow"></div>
							<div class="popover-inner">
								<div class="popover-content help-block" translate>home.authForm.authErr</div>
							</div>
						</div>
					</div>
					<p ng-show="userIsNotExist && showNavbar" class="help-block" translate>home.authForm.authErr</p>
				</div>

				<button type="submit" class="btn btn-success" ng-disabled="authForm.$invalid" translate>home.authForm.signIn</button>
			</form>

		</div>
	</div>
</nav>


<div class="jumbotron">
	<div class="container">
		<h1 translate >home.mainTop.title</h1>
		<p translate >home.mainTop.description</p>
		<p><a class="btn btn-primary btn-lg" ui-sref="signup" role="button" translate>home.mainTop.signUp</a></p>
	</div>
</div>

<div class="container">
	<div class="row main">
		<div class="col-md-4">
			<h3 translate>home.mainBottom.col_1.title</h3>
			<p translate>home.mainBottom.col_1.description</p>
		</div>
		<div class="col-md-4">
			<h3 translate>home.mainBottom.col_2.title</h3>
			<p translate>home.mainBottom.col_2.description</p>
		</div>
		<div class="col-md-4">
			<h3 translate>home.mainBottom.col_3.title</h3>
			<p translate>home.mainBottom.col_3.description</p>
		</div>
	</div>

	<hr>

	<footer>
		<p translate>home.copyright</p>
	</footer>
</div>